#page-area {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 55% 20%;
  grid-template-rows: 1fr;
  gap: .22em;
  grid-template-areas: 'pay-table reels debug';
}

#pay-table {
  display-area: pay-table;
  width: 100%;
  text-align: center;
}

.paytable-items {
  display: flex;
  flex-direction: column;
}

.paytable-item {
  flex: 1;
  display: flex;
  border: 1px dotted lightgray;
}

.payable-item-set {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.payable-item-set-desc {
  flex: 1;
  flex-basis: 50%;
  font-size: 88%;
  text-align: left;
}

.payable-item-set-img {
  flex: 1;
  flex-basis: 40%;
}

.payable-item-set-win {
  flex: 1;
  flex-basis: 10%;
  font-weight: 700;
}

.payable-img {
  width: 20%;
  height: auto;
}

.section-title {
  margin: .22em 0;
  color: darkgray;
  flex: 1 1 0;
  font-size: 1.0248em;
  font-weight: 700;
}

#reel-box {
  display-area: reels;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

#reels {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.reels {
  display: flex;
  background: url("../img/reel-1.png") top center;
  width: 141px;
  height: 363px;
  margin: 3% 0;
  border: 1px solid lightgray;
  border-radius: .22em;
}

#controls {
  width: 55%;
  margin: .22em;
  padding: .11em;
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.btn-spin {
  padding: .11em;
  font-weight: 600;
  color: snow;
  width: 100%;
  background-color: limegreen;
  border: 0;
  border-radius: .22em;
}

.btn-spin:hover {
  color: red;
  background-color: snow;
  border: 1px solid lightgray;
  cursor: pointer;
}

#btn-debug {
  margin-top: .22em;
  padding: .11em;
  font-weight: 600;
  color: red;
  width: 74%;
  background-color: darkorange;
  border: 0;
  border-radius: .22em;
}

#btn-debug:hover {
  color: yellow;
  background-color: red;
  border: 1px solid lightgray;
  cursor: pointer;
}

#debug {
  flex: 1 1 0;
  display-area: debug;
}

#debug-box.section-title {
  flex: 1 1 0;
}

#debug-box {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.debug-box-item {
  flex: 1 1 0;
}

.debug-checkmark {
  margin-bottom: 1.22em;
  padding: .22em;
  height: 1.022em;
  width: 1.022em;
}
